node_modules/

# Vite
/dist/
/.vite/

# Hardhat
/artifacts/
/cache/
/typechain-types/
.hardhat-node.pid
hardhat-node.pid
hardhat-node.log

# Env
.env
.env.local
.env.*.local

# Coverage
/coverage/
coverage.json

# Misc
.DS_Store

# TypeScript
*.tsbuildinfo
